---
Language: Cpp
IndentWidth: 4
NamespaceIndentation: Inner
BreakStringLiterals: true
LineEnding: LF
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 4
InsertNewlineAtEOF: true
InsertBraces: true
ColumnLimit: 100
SeparateDefinitionBlocks: Always
