# Set the `GSL` variable to the base of your GSL installation
# If this happens to be already on a default path, no harm is done
# You can then also leave it blank.
# This option is mainly for semi-external installations, such as
# through Homebrew on macOS. For Homebrew, this may be something like
# GSL = /opt/Homebrew/Cellar/gsl/2.8
GSL =

# The CXX variable should be set to your C++ compiler
# If you are using OpenMP, make sure the compiler is
# OpenMP compatible, that is, it can handle the -fopenmp
# option
CXX = c++

# Set compiler flags: standard, optimization level, warnings, etc
# Note that -Ofast is deprecated by CLang++, and should be be
# `-O3 -ffast-math` instead; using only `-O3` is safer anyway.
# The -fopenmp flag should not be set here, but specified using
# the OPENMP variable below
CXXFLAGS = -std=c++17 -Wall -Wextra -Wconversion -O3 -ffast-math -fPIC

# Set the following variable to the -fopenmp to use OpenMP.
# If unset or empty, OpenMP will not be used in the compilation
# The flag is used by both the compiler and the linker
#OPENMP = -fopenmp
